:root {
  --primary: #d63721;
  --secondary: #C24332;
  --bg: hsl(0, 0%, 0%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Navbar start */
.navbar {
  /* height: 8.5rem; */
  padding: 0;
  background-image: url("../img/produk-nav-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar .a-svg {
  text-align: center;
  width: 15rem;
}

.navbar .a-svg:hover {
  background-color: rgb(255, 93, 71, 0.8);
}

.navbar .container {
  /* width: 100%; */
  height: 100%; 
  margin: 0;
  padding: 0;
  display: flex;
  /* margin-right: 10rem; */
  background-color: #fff;
}


.navbar img {
  padding: 2rem;
}
/* Navbar end */

/* Hero start */
.hero {
  background-color: #f3f3f3;
  padding: 3rem 0;
}

.hero .row-produk {
  margin-left: 5%;
}

.hero .col-kategori .card-title {
  font-weight: 700;
  font-size: 1.2rem;
}

.hero .col-kategori .card-title a {
  text-decoration: none;
  color: #000;
}

.hero .col-kategori .card {
  border-radius: 0;
  border: none;
  margin: 1.5rem 0;
  width: 16rem;
}

.hero .col-kategori .list-group-item {
  border: none;
}

.hero .col-kategori .card label {
  font-weight: 500;
  font-size: 1rem;
}

.hero .col-produk .card {
  width: 18rem;
}

.hero .col-produk .card-title {
  font-weight: 600;
  font-size: 1.1rem;
}

.hero .col-produk .card-text {
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 0;
}

.hero .col-produk .col-harga {
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--secondary);
}

.hero .col-produk .row .col {
  height: fit-content;
}

/* Hero end */

/* Media Query */

@media (max-width: 1680px) {
    
    
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  /* hero start */

  .hero .col-produk .card {
    width: 15rem;
  }
  /* hero end */
  
}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  /* Hero start */
  .hero .col-produk .card {
    width: 18rem;
    margin-left: 3rem;
  }
  /* Hero end */
}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .hero .row-produk {
    margin-left: 10%;
  }

  .hero .col-produk .card {
    margin-left: 10rem;
  }
}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  /* Navbar start */
.navbar img {
  width: 8rem;
}

.navbar svg {
  width: 52px;
}

.navbar .a-svg {
  width: 10rem;
}

  /* Navbar end */

  /* Hero start */
  .hero .row-produk {
    margin-left: 1%;
  }

  .hero .col-produk .card {
    width: 15rem;
    /* margin-left: 8rem; */
  }
  /* Hero end */
}

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Hero start */
  .hero .col-kategori .card-title {
    font-size: 1rem;
  }
  
  .hero .col-kategori .card {
    margin: 1.5rem 0;
    width: 14rem;
  }
  
  .hero .col-kategori .card label {
    font-size: 0.8rem;
  }

  .hero .col-produk .card {
    width: 12rem;
    margin-left: 7rem;
  }

  .hero .col-produk .card-title {
    font-size: 0.9rem;
  }
  
  .hero .col-produk .card-text {
    font-size: 0.9rem;
  }
  
  .hero .col-produk .col-harga {
    font-size: 0.9rem;
  }

  .hero .col-produk .col-keranjang svg {
    width: 17px;
  }
  /* Hero end */
  
}

@media (max-width: 496px) {
 /* Hero start */
 .hero .col-kategori .card-title {
  font-size: 0.8rem;
}

.hero .col-kategori .card {
  margin: 1rem 0;
  width: 11rem;
}

.hero .col-kategori .list-group-item {
  padding: 0;
}

.hero .col-kategori .card label {
  font-size: 0.7rem;
}

.hero .col-produk .card {
  width: 10rem;
  margin-left: 5rem;
}

.hero .col-produk .card-title {
  font-size: 0.8rem;
}

.hero .col-produk .card-text {
  font-size: 0.8rem;
}

.hero .col-produk .col-harga {
  font-size: 0.8rem;
}

.hero .col-produk .col-keranjang svg {
  width: 18px;
}
 /* Hero end */
}

@media (max-width: 420px) {
    /* Hero start */
    .hero .container-fluid {
      padding: 0;
    }
 .hero .col-kategori .card-title {
  font-size: 0.7rem;
}

.hero .col-kategori .card {
  margin: 1rem 0;
  width: 8rem;
}

.hero .col-kategori .card label {
  font-size: 0.6rem;
}

.hero .col-produk .card {
  width: 10rem;
  margin-left: 4rem;
}

.hero .col-produk .card-title {
  font-size: 0.8rem;
}

.hero .col-produk .card-text {
  font-size: 0.8rem;
}

.hero .col-produk .col-harga {
  font-size: 0.8rem;
}

.hero .col-produk .col-keranjang svg {
  width: 18px;
}
  
  /* Hero end */
}

@media (max-width: 360px) {
 /* Navbar start */
 .navbar img {
  width: 8rem;
}

.navbar svg {
  width: 45px;
}

.navbar .a-svg {
  width: 8rem;
}

  /* Navbar end */

    /* Hero start */
 .hero .col-kategori .card-title {
  font-size: 0.6rem;
}

.hero .col-kategori .card {
  margin: 1rem 0;
  width: 7rem;
}

.hero .col-kategori .card label {
  font-size: 0.5rem;
}

.hero .col-produk .card {
  width: 9rem;
  margin-left: 3rem;
}

.hero .col-produk .card-title {
  font-size: 0.5rem;
}

.hero .col-produk .card-text {
  font-size: 0.5rem;
}

.hero .col-produk .col-harga {
  font-size: 0.5rem;
}

  
  /* Hero end */
}
