:root {
  --primary: #d63721;
  --secondary: #c24332;
  --bg: hsl(0, 0%, 0%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.nav-hero {
  position: relative;
}

/* Navbar start */
.navbar {
  padding: 0;
  background-image: url("../img/profil-seniman-nav-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar .a-svg {
  text-align: center;
  padding: 3rem;
  margin-bottom: 10rem;
}

.navbar .a-svg:hover {
  background-color: rgb(255, 93, 71, 0.5);
}
/* Navbar end */

/* Hero start */
.hero {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 15rem;
}

.hero .card {
  border: none;
  background-color: transparent;
}

.hero img {
  width: 17.8rem;
}

.hero .row-navbar {
  color: #fff;
}

.hero .row-navbar .col-link {
  display: flex;
  justify-content: end;
}

.hero .col-navbar {
  align-self: self-end;
}

.hero .row-navbar h5 {
  font-size: 3rem;
  font-weight: 700;
}

.hero .row-navbar h6 {
  font-size: 1.3rem;
  font-weight: 600;
}

.hero .row-profil {
  margin: 2rem 0;
}

.hero .row-profil .card-title {
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--secondary);
}

.hero .row-profil .card-text {
  font-size: 1.3rem;
}

.hero .row-profil .card-text span {
  font-weight: 700;
}
/* Hero end */

/* Koleksi start */
.koleksi {
  margin-top: 10rem;
  padding: 3rem 15rem;
}

.koleksi .row-title h5 {
  font-weight: 600;
  margin: 3rem 0;
  font-size: 1.5rem;
}

.koleksi .row-body .card {
  width: 32rem;
  padding: 1rem;
  flex-direction: row;
}

.koleksi .row-body .card-title {
  font-weight: 600;
  font-size: 1.1rem;
}

.koleksi .row-body .card-body {
  width: 12rem;
}

.koleksi .row-body .card-img {
  width: 17rem;
  height: 11.5rem;
}

.koleksi .row-body .card-img img {
  max-height: 100%;
}

.koleksi .row-body .card-text {
  font-size: 1.1rem;
}

.koleksi .row-body p {
  margin-bottom: 0;
}

.koleksi .row-body .card-harga {
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--secondary);
}

.koleksi .row-body .btn {
  background-color: var(--secondary);
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  width: 100%;
  margin: 1rem 0;
}

.koleksi .row-body .btn:hover {
  background-color: rgb(211, 211, 211, 0.7);
}
/* Koleksi end */

/* Media Query */

@media (max-width: 1680px) {
  /* Hero start */
  .hero {
    margin: 0 7rem;
  }
  /* Hero end */

  /* Koleksi start */
  .koleksi {
    margin-top: 10rem;
    padding: 3rem 7rem;
  }
  /* Koleksi end */
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  /* Hero start */
  .hero .row-navbar h5 {
    font-size: 2.2rem;
  }

  .hero .row-navbar h6 {
    font-size: 1rem;
  }
  /* Hero end */

  /* Koleksi start */
  .koleksi .row-body .card {
    width: 20rem;
  }
  /* Koleksi end */
}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  /* Hero start */

  .hero .row-navbar {
    color: #fff;
  }

  .hero .row-navbar h5 {
    font-size: 2rem;
  }

  .hero .row-navbar .link {
    font-size: 0.8rem;
  }

  .hero .row-profil .card-title {
    font-size: 1rem;
  }

  .hero .row-profil .card-text {
    font-size: 1rem;
  }
  /* Hero end */
}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  /* Hero start */

  .hero {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 2.5rem;
  }

  .hero .row-navbar .link {
    font-size: 0.7rem;
  }

  .hero .row-profil .card-text {
    font-size: 0.8rem;
  }

  /* Hero end */

  /* Koleksi start */
  .koleksi .row-body .card {
    width: 32rem;
  }
  /* Koleksi end */
}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  /* Hero start */
  .hero .row-navbar {
    color: var(--secondary);
  }

  .hero .col-navbar {
    align-self: self-start;
  }
  /* Hero end */

  /* Koleksi start */
  .koleksi {
    margin-top: 20rem;
    padding: 3rem 5rem;
  }
  /* Koleksi end */
}

@media (max-width: 654px) {
  /* Koleksi start */

  .koleksi .row-title h5 {
    margin: 3rem 0 1rem;
    font-size: 1.2rem;
  }

  .koleksi .row-body .card {
    width: 20rem;
  }

  .koleksi .row-body .card-title {
    font-size: 0.8rem;
  }

  .koleksi .row-body .card-body {
    padding-bottom: 0;
  }

  .koleksi .row-body .card-text {
    font-size: 0.8rem;
  }

  .koleksi .row-body .card-harga {
    font-size: 1rem;
  }

  .koleksi .row-body .btn {
    font-size: 0.8rem;
  }
  /* Koleksi end */
}

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Hero start */
  .hero .row-navbar h5 {
    font-size: 1.5rem;
  }

  .hero .row-navbar h6 {
    font-size: 0.8rem;
  }

  .hero .row-navbar .link {
    font-size: 0.6rem;
  }
  /* Hero end */

  /* Koleksi start */
  .koleksi {
    margin-top: 25rem;
    padding: 3rem 3rem;
  }
  /* Koleksi end */
}

@media (max-width: 496px) {
}

@media (max-width: 408px) {
  /* Hero start */
  .hero .row-navbar h5 {
    font-size: 1.2rem;
  }

  .hero .row-navbar h6 {
    font-size: 0.6rem;
  }

  .hero .row-navbar .link {
    font-size: 0.5rem;
  }

  .hero .row-profil .card-text {
    font-size: 0.6rem;
  }
  /* Hero end */

  /* Koleksi start */
  .koleksi {
    margin-top: 23rem;
  }

  .koleksi .row-title h5 {
    margin: 3rem 0 0;
  }

  .koleksi .row-body .card {
    width: 14rem;
  }

  .koleksi .row-body .card-img {
    width: 12rem;
    height: 8rem;
  }
  /* Koleksi end */
}

@media (max-width: 360px) {
  /* Hero start */
  .hero .row-navbar .col-link {
    justify-content: center;
  }
  .hero .row-navbar h5 {
    font-size: 1.5rem;
  }

  .hero .row-navbar h6 {
    font-size: 0.8rem;
  }

  .hero .row-navbar .link {
    font-size: 0.7rem;
  }

  .hero .row-profil .card-text {
    font-size: 0.6rem;
  }
  /* Hero end */

  /* Koleksi start */
  .koleksi .row-body .card {
    padding-bottom: 0;
  }
  /* Koleksi end */
}
